@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  display: inline-block;
  margin-left: 100px;
  margin-right: 400px;
}

p {
  display: inline-block;
  margin-left: 30px;
}

.header {
  height: 75px;
  background-color: #343a40;
}

.section {
  background-color: #1abc9c;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.img-perfil {
  width: 100px;
}

.portfolio {
  color: #343a40;
  text-align: center;
}

.img-portfolio {
  width: 300px;
  display: inline-block;
  border: 20px solid white;
}

.img-portfolio img {
  width: 100%;
}

.about-text {
  display: inline-block;
  width: 300px;
  text-align: left;
}